<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style="padding:21px">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="https://www.civica.com/globalassets/6.images/rebrand/image-library/logo/civica-pride-logo-desktop.svg" style=" height:50px"></img></a>
             
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Insights" style="font-size:20px">Insights</a>
                        </li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Careers" style="font-size:20px">Careers</a>
                        </li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contactus" style="font-size:20px">Contactus</a>
                        </li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Support" style="font-size:20px">Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
   <b> <div class="container">
        <div class="row">
            <div class="col-sm">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Aboutus">Aboutus</a>
            </div>
            <div class="col-sm">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Capabilities">Capabilities</a>
            </div>
                <div class="col-sm">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sectors">Sectors</a>
            </div>
            <div class="col-sm">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SoftwareAndServices">Software And Services </a>
            </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-sm">
                    <input type="text" placeholder="Search..">
                </div>
        </div>
    </div><b/>
   
   @* <b><div class="container">
        <div class="row">
            <div class="col-sm">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
            </div>
            <div class="col-sm">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Aboutus">Aboutus</a>
            </div>
            <div class="col-sm">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Careers">Careers</a>
            </div>
        </div>
    </div><b/>*@
  
            <img src="https://www.civica.com/globalassets/6.images/rebrand/image-library/fifty-fifty-promo/civica-india-building-promo.jpg" style=" width:1900px;height:600px" ></img>
    <h1>Make Your Future <br>Part Of Ours</h1>
            <button type="button" class="btn btn-success" style="font-color:white"> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Careers"/>Our Vacancies</button>
            <h4> With over 30 years of sector experience, we’re committed to putting people first and continually improving outcomes for citizens.<p/> 
               <p> As a global leader in public sector software, we are committed to investing in talent at Civica; our people truly matter. <p/>
                   <p>You’re the ones who help build long-lasting relationships with our customers, bring fresh ideas into play, and bring our brand to life every day.<p/>
                       <p>When all our talented individuals team up, great things happen.<p/>

                We are already recognised for our culture, which has earned the Investors in People ‘Gold’ standard in the UK.<h4/>

                <iframe width="818" height="460" src="https://www.youtube.com/embed/QmVAyVvxOnw" title="D, E &amp; I: Why it is important" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            </h4>


            <div style="width:100%;float:left;">

                <div style="width:31%;float:left;color:black;padding:40px;">
                    <img src="https://www.civica.com/globalassets/userhub/images/global/training/teaser-images/teaser-image_1.png" width=450 />
                    <h2>Vacancies</h2>
                    <p>
                        Find Out More  >
                    </p>
                </div>


                <div style="width:31%;color:black;float:left;padding:40px;">
                    <img src="https://www.civica.com/globalassets/userhub/images/global/training/teaser-images/teaser-image_7.png" width=450 />
                    <h2>Our People</h2>
                    <p>
                        Find Out More  >
                    </p>
                </div>

                <div style="width:31%;color:black;float:left;padding:40px;">
                    <img src="https://www.civica.com/globalassets/userhub/images/global/training/teaser-images/teaser-image_8.png" width=450 />
                    <h2>Register Interest</h2>
                    <p>
                        Find Out More  >
                       </p>
                </div>
                <div style="width:31%;float:left;color:black;padding:40px;">
                    <img src="https://www.civica.com/globalassets/userhub/images/global/training/teaser-images/teaser-image_4.png" width=450 />
                    <h2>Scholarships</h2>
                    <p>
                        Find Out More  >
                    </p>
                </div>


                <div style="width:31%;color:black;float:left;padding:40px;">
                    <img src="https://www.civica.com/globalassets/userhub/images/global/training/teaser-images/teaser-image_6.png" width=450 />
                    <h2>Early Careers</h2>
                    <p>
                        Find Out More  >
                    </p>
                </div>

                <div style="width:31%;color:black;float:left;padding:40px;">
                    <img src="https://www.civica.com/globalassets/userhub/images/global/training/teaser-images/teaser-image_8.png" width=450 />
                    <h2>Candidate Privacy Statements</h2>
                    <p>
                        Find Out More  >
                    </p>
                </div>

            </div>


            <div style="width:100%;float:left;">

                <div style="width:31%;float:left;color:black;padding:40px;">
                    <h1>Civica India’s officially a Great Place To Work</h1>
                    <p>
                        This certification demonstrates Civica’s continuous investment in its people and commitment to creating an open, 
                        bright and dynamic culture where employees can be their best.
                    </p>
                    <button type="button" class="btn btn-success">Read More</button>
                </div>


                <div style="width:31%;color:black;float:left;padding:10px;">
                    <img src="https://www.civica.com/globalassets/6.images/rebrand/image-library/fifty-fifty-promo/civica-india-building-promo.jpg" width=700 />
                </div>
                </div>

                        <div style="width:100%;float:left;">

                                <div style="width:31%;float:left;color:black;padding:40px;">

                            <div style="width:31%;color:black;float:left;padding:10px;">
                        <img src="https://www.civica.com/globalassets/6.images/rebrand/image-library/fifty-fifty-promo/iwd-promo.jpg" width=700 />
                            </div>

                    <h1>International Women’s Day 2023</h1>
                                    <p>
                        Civica continues to challenge gender bias and supports a diverse and inclusive workforce.
                                    </p>
                                    <button type="button" class="btn btn-success">Read More</button>
                                </div>


                                
                            </div>






            <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br>
    <br>
            <br>
            <br>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
