<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>About Us</h2>
                </div>
            </div>
            <div class="col-md-10 offset-md-1">
                <div class="about_img text_align_center">
                    <figure><img src="images/about.jpg" alt="#" /></figure>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
                <div class="about_img text_align_center">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <br>consequat. Duis aute irure dolor in reprehenderit in voluptate velit<br>
                        esse Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    </p>
                    <a class="read_more" href="about.html">About More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->
<!-- couple -->
<div class="couple">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="titlepage text_align_left">
                    <span>Our introduction</span>
                    <h2>Meet Happy Couple</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    </p>
                    <a class="read_more whitebg" href="Javascript:void(0)">See More</a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="doi">
                    <figure><img src="images/mul.png" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- couple -->
<!-- gallery -->
<div class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Our Gallery</h2>
                </div>
            </div>
        </div>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 ma_bottom30">
                            <div class="lightbox">
                                <img src="images/g1.jpg" alt="Bridge">
                                <div class="view_main">
                                    <h3>Couple</h3>
                                    <a class="view_btn" href="images/g1.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ma_bottom30">
                            <div class="lightbox">
                                <img src="images/g4.jpg" alt="Bridge">
                                <div class="view_main">
                                    <h3>Couple</h3>
                                    <a class="view_btn" href="images/g4.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 ma_bottom30">
                            <div class="lightbox">
                                <img src="images/g2.jpg" alt="Bridge">
                                <div class="view_main">
                                    <h3>Couple</h3>
                                    <a class="view_btn" href="images/g2.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ma_bottom30">
                            <div class="lightbox">
                                <img src="images/g5.jpg" alt="Bridge">
                                <div class="view_main">
                                    <h3>Couple</h3>
                                    <a class="view_btn" href="images/g5.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 ma_bottom30">
                            <div class="lightbox">
                                <img src="images/g3.jpg" alt="Bridge">
                                <div class="view_main">
                                    <h3>Couple</h3>
                                    <a class="view_btn" href="images/g3.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ma_bottom30">
                            <div class="lightbox">
                                <img src="images/g6.jpg" alt="Bridge">
                                <div class="view_main">
                                    <h3>Couple</h3>
                                    <a class="view_btn" href="images/g6.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="text_align_center">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end gallery -->
<!-- contact -->
<div class="contact">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Contact Us</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mapimg">
                    <figure><img src="images/map.png" alt="#" /></figure>
                </div>
            </div>
            <div class="col-md-6">
                <form id="request" class="main_form">
                    <div class="row">
                        <div class="col-md-6 ">
                            <label>Name</label>
                            <input class="contactus" placeholder="" type="type" name=" Name">
                        </div>
                        <div class="col-md-6">
                            <label>Phone Number</label>
                            <input class="contactus" placeholder="" type="type" name="Phone Number">
                        </div>
                        <div class="col-md-12">
                            <label>Email</label>
                            <input class="contactus" placeholder="" type="type" name="Email">
                        </div>
                        <div class="col-md-12">
                            <label>Message</label>
                            <textarea class="textarea" placeholder="" type="type" Message="Name"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
