@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

    @model ArithematicOperations.Models.Opeartion
    <h1>Find Operation</h1>

    @using (Html.BeginForm("Index","Opeartion",FormMethod.Post))
    {
        <b>Enter Number 1</b>
        @Html.TextBoxFor(o=>o.n1)
        <br/>
        <br/>

        <b>Enter Number 2</b>
        @Html.TextBoxFor(o=>o.n2)
        <br />
        <br />

        <b>Enter Operator</b>
        @Html.TextBoxFor(o=>o.op)
        <br />
        <br />
        <input type="submit" value="Check"/>

    }
   

n1:@ViewBag.n1
<br>
n2:@ViewBag.n2<br/>

Result is:@ViewBag.result
<br/>


