@model IEnumerable<WebAPIREST.Models.Employee>

@{
    ViewBag.Title = "www.compilecode.com";
}

	<div class="form-horizontal">
   
    	    <hr />
    	    <div class="form-group">
             <table class="table table-responsive" style="width:400px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)    
                </th>    
                <th>
                     @Html.DisplayNameFor(model => model.City)
                </th>
            </tr>
                     @foreach (var item in Model)
            {
                <tr>
                    <td>
                      @Html.DisplayFor(modelItem => item.Name)   
                    </td>
                    <td>
                     @Html.DisplayFor(modelItem => item.City)    
                    </td>
                </tr>
                }
        </table>
    </div>
</div>
