<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>About Us</h2>
                </div>
            </div>
            <div class="col-md-10 offset-md-1">
                <div class="about_img text_align_center">
                    <figure><img src="images/about.jpg" alt="#" /></figure>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
                <div class="about_img text_align_center">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <br>consequat. Duis aute irure dolor in reprehenderit in voluptate velit<br>
                        esse Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    </p>
                    <a class="read_more" href="about.html">About More</a>
                </div>
            </div>
        </div>
    </div>
</div>